<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr class="type">
            <th>turtle</th>
            <th>octopus</th>
            <th>fish</th>
            <th>flamingo</th>
            <th>penguin</th>
        </tr>
        <tr class="icon">
            <td>🐢</td>
            <td>🐙</td>
            <td>🐠</td>
            <td>🦩</td>
            <td>🐧</td>
        </tr>
    </table>
</body>
</html>